{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Film Explorer!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
<!--       <img src="#"><br>
      <b>Your Name</b><br>
      100 followers -->
    </div>
    <div class="col-md-9">

    <h3>Search for a film!</h3>

    <form action="/search" method="POST">
        <label for="name_field">Movie Name</label>
        <input name="name" type="text" id="name_field" />
        <input type="submit" value="Submit" />
      </form>

<!-- Addtl form for genre search?      <form action="/search" method="POST">
        <label for="name_field">Search for a genre</label>
        <input name="name" type="text" id="name_field" />
        <input type="submit" value="Submit" />
      </form> -->

      <!-- display tweets here -->
      {% for movie in movies %}
        <ul>
          <li>Name: {{movie.name}}</li>
          <li>Year: {{movie.year}}</li>
          <li>ID: {{movie.ID}}</li>
          <li>Rank: {{movie.rank}}</li>
          <li>Genre: <a href= '/result/?genre='+ {{movie.name}}> {{movie.name}} </a></li>
        </ul>

      {% endfor %}

    </div>
  </div>

{% endblock %}
