{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Film Explorer!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
<!--       <img src="#"><br>
      <b>Your Name</b><br>
      100 followers -->
    </div>
    <div class="col-md-9">

    <h3>Search for a film!</h3>

    <form action="/search" method="POST">
        <label for="name_field">Movie Name</label>
        <input name="name" type="text" id="name_field" />
        <input type="submit" value="Submit" />
      </form>

<!-- Addtl form for genre search?      <form action="/search" method="POST">
        <label for="name_field">Search for a genre</label>
        <input name="name" type="text" id="name_field" />
        <input type="submit" value="Submit" />
      </form> -->

      <!-- display tweets here -->
      {% for movie in movies %}
        <ul>
          <img src = {{movie.poster}}>
          <li>Name: <a href='/result/?film={{movie.title}}'><b>{{movie.title}}</b></a></li>
          <li>Year: <a href='/result/?year={{movie.year}}'>{{movie.year}}</a></li>
<!--           <li>ID: {{movie.ID}}</li> -->
          <!-- <li>Rating: {{movie.rated}}</li> -->
          <!-- <li>Genre: <a href='/result/?genre={{movie.genre}}'> {{movie.genre}} </a></li> -->
        </ul>

      {% endfor %}

    </div>
  </div>

{% endblock %}
